body {
    margin: 0;
    padding: 0;
    background-color: #EDEAE5;
    background-image: url("https://co-active-coach.co.uk/wp-content/uploads/2020/05/Work-from-home.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
}

main {
    font-family: sans-serif;
    margin: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.logo {
    position: absolute;
    top: 50px;
    left: 150px;
    height: 50px;
    width: 250px;
    background-color: #9FEDD7;
    border-radius: 50px;
    box-shadow: -9px 9px 12px rgba(0, 0, 0, .5);
    transform: perspective(1000px) translate(-50%, -50%);
}

.workspace {
    font-size: 30px;
    color: white;
    padding: 90px;
    padding-top: 75px;
    margin: -70px;
    font-family: verdana;
    text-transform: uppercase;
    text-shadow: -9px 9px 12px rgba(0, 0, 0, .5);

}

nav {
    background-color: #FEF9C7;
    overflow: hidden;
}

header nav ul {
    list-style: none;
    margin: 20px;
    padding: 10px;
    display: flex;
    float: right;
}

nav li {
    display: inline;
    padding-right: 30px;
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    border: 1px solid #adadad;
    padding: 10px;
}

.login h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-family: sans-serif;
}

.login form {
    padding: 0 85px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    font-family: sans-serif
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    font-family: sans-serif;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #038d9a;
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: #038d9a;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #038d9a;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #026670;
    transition: .5s;
}

.greeting h2,
.greeting h3 {
    display: inline;
    vertical-align: bottom;
}

.create {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 550px;
    background: white;
    border-radius: 10px;
    border: 1px solid #adadad;
    padding: 10px;
}

.create h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-family: sans-serif;
}

.create form {
    padding: 0 85px;
    box-sizing: border-box;
}

.create p {
    position: relative;
    margin: 30px 0;
    font-family: sans-serif
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 800px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.content-table thead tr {
    background-color: #026670;
    color: white;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;

}

.content-table tbody tr {
    border-bottom: 1px solid silver;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #038d9a;
}

.content-table tbody tr .active-row {
    font-weight: bold;
    color: #026670;
}

.task h2,
.task h3 {
    display: inline;
    vertical-align: bottom;
}

.link a:link,
a:visited {
    background-color: #FCE181;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px
}

.link a:hover,
a:active {
    background-color: #21a27e;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    font-style: italic;
}

.button_yellow {
    width: 85px;
    background-color: #FCE181;
    color: black;
    border: #FCE181;
    border-radius: 5px;
}

.button_yellow:hover {
    background-color: #21a27e;
    color: white;
    font-style: italic;
}