{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="login">
            <h1>Log In</h1>
            <form action ="{% url "login" %}" method = "post">
                {% csrf_token %}
                <div class="txt_field">
                    <input type="text" required name="username" id="id_username">
                    <span></span>
                    <label for="id_username">Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" required name="password" id="id_password">
                    <span></span>
                    <label for="id_password">Password</label>
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
    </main>
{% endblock content %}