{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="create">
            <h1>Create a new task</h1>
            <form method="post">
                {% csrf_token %}
                <p>
                    <label for="id_name">Name:</label>
                    <input type="text" name="name" maxlength="200" required id="id_name">  
                </p>  
                <p>
                    <label for="id_start_date">Start date:</label>
                    <input type="date" name="start_date" class="vDateField" size="10" required id="id_start_date">
                </p>
                <p>
                    <label for="id_due_date">Due date:</label>
                    <input type="date" name="due_date" class="vDateField" size="10" required id="id_due_date">
                </p>
                <p>
                    <label for="id_project">Project:</label>
                    {{form.project}}                   
                </p>
                <p>
                    <label for="id_assignee">Assignee:</label>                  
                    {{form.assignee}}
                </p> 
                <input type="submit" value="Create">
            </form>
        </div>
    </main>
{% endblock content %}