{% extends 'base.html' %}
{% load markdownify %}
{% block content %}

    <main>
        <h1>{{project.name}}</h1>
        {{project.description|markdownify}}
        <div class="task">
            <h2>Tasks - </h2>
            <h3><i>Check out tasks to be completed!</i></h3>
        </div>
        <p></p>
        <div class="link"><a href="{% url "create_task" %}">Create a new task</a></div>
        {% if project.tasks.all|length == 0%}
            <p>This project has no tasks</p>
        {% else %}
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    <tbody>
                        {%for task in project.tasks.all %}
                            <tr>
                                <td>{{task.name}}</td>
                                <td>{{task.assignee|title}}</td>
                                <td>{{task.start_date|date:'Y-m-d'}}</td>
                                <td>{{task.due_date|date:'Y-m-d'}}</td>
                                <td>
                                    {% if task.is_completed == True %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </thead>
            </table>
        {% endif %}
    </main>
{% endblock content %}