{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main>
        <div class="greeting">
            <h2>Hello,   
                {{request.user|title}}!      
            </h2>
            <h3><i>Let's get the project done.</i></h3>
            <p>Click each project to see assigned tasks!</p>
        </div>
        <p></p>
        <div>
            <div class="link"><a href="{% url "create_project" %}">Create a new project</a></div>
            <p>
            {% if project_list|length == 0 %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table class="content-table" id="table_id">
                    <thead>
                        <tr class="active-row">
                            <th>Project</th>
                            <th>Person</th>
                            <th>Number of tasks</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                            <tr>
                                <td><b><a href="{% url "show_project" project.pk %}">{{project.name}}</a></b></td>
                                <td>
                                    {% for members in project.members.all %}
                                        {% if forloop.last %} 
                                            {{members|title}}
                                        {% else %}
                                            {{members|title}},
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{project.tasks.all|length}}</td>
                                <td>
                                    {% if project.tasks.all|length == 0 %}
                                        No Task yet!
                                    {% else %}
                                        {{project.percentage_done|floatformat}}% 
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.18/af-2.3.0/b-1.5.2/b-colvis-1.5.2/b-flash-1.5.2/b-html5-1.5.2/b-print-1.5.2/cr-1.5.0/fh-3.1.4/r-2.2.2/datatables.min.js"></script>
<script>
    $(document).ready( function () {
    $('#table_id').DataTable({

    dom: 'B<"clear">lfrtip',
    buttons: {
        name: 'primary',
        buttons: [ 'copy', 'csv', 'excel', 'pdf' ]

    }}
);
} );
</script>
</div>
{% endblock %}